---
layout: page
title: 首页
---

<br>
<object data="/pages/trophy.svg" style="width: 100%;max-width: 550px;"></object>

<br>

<script async src="https://cse.google.com/cse.js?cx=b6983bc30483d4337"></script>
<div class="gcse-search"></div>

{% assign posts_by_month = site.posts | group_by_exp:"post", "post.date | date: '%Y-%m'" %}
{% for group in posts_by_month %}
  {% assign parts = group.name | split: '-' %}
  <legend>{{ parts[0] }}-{{ parts[1] }}</legend>
  <ul>
    {% for post in group.items %}<li>{{ post.date | date: "%Y-%m-%d" }} &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>{% endfor %}
  </ul>
{% endfor %}

<hr>
<div style="width:300px;margin:0 auto; padding:20px 0;">
  <a href="https://beian.miit.gov.cn">豫ICP备19040059号</a>
  <br>
</div>
