---
layout: page
title: 首页
---

<br>
<object data="https://www.guofei.site/pages/trophy.svg" style="width: 100%;max-width: 550px;"></object>

<br>
技术文章共 <strong id="blog_cnt">{{ site.posts | size }}</strong> 篇，<a href="/good.html">精选</a>
<br>

<script async src="https://cse.google.com/cse.js?cx=b6983bc30483d4337"></script>
<div class="gcse-search"></div>

{% assign posts_by_month = site.posts | group_by_exp:"post", "post.date | date: '%Y-%m'" %}
{% for group in posts_by_month %}
  {% assign parts = group.name | split: '-' %}
  <legend id="{{ group.name }}">{{ parts[0] }}年-{{ parts[1] }}月</legend>
  <ul>
    {% for post in group.items %}
    {% if post.visible != 'n' %}<li><span>{{ post.date | date: "%Y年-%m月-%d日" }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>{% endif %}
    {% endfor %}
  </ul>
{% endfor %}

<hr>
<div style="width:300px;margin:0 auto; padding:20px 0;">
  <a href="https://beian.miit.gov.cn">豫ICP备19040059号</a>
  <br>
</div>
