
/* 固定顶端横幅样式 */
.top-banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  z-index: 1000;
}

.banner-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  height: 40px; /* 统一的高度 */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* 左侧和右侧按钮样式 */
.banner-left button,
.banner-right button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: red;
}

/* 中间Logo样式 */
.banner-center .logo {
  font-size: 24px;
  text-decoration: none;
  color: #333;
}

/* TOC内容 */
#content_toc {
  position: fixed;
  right: 0;
  top: 40px;
  display: none;
  background-color: rgba(240, 240, 240, 0.8);
}

/* 由于 top-banner 的 position:fixed，所以会覆盖原内容，而不是让原内容下移，这里调整一下 */
body {
  padding-top: 40px; /* 这个值需要等于 banner 高度 */
}

/* 同样的问题，使得点击标题时，标题会被覆盖 */
h1, h2, h3, h4, h5, h6 {
  scroll-margin-top: 40px; /* 根据 banner 高度调整 */
}