
/* 固定顶端横幅样式 */
.top-banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fefefe;
  border-bottom: 1px solid #ddd;
  z-index: 1000;
}

.banner-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* 左侧和右侧按钮样式 */
.banner-left button,
.banner-right button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}


/* TOC内容 */
#content_toc {
  position: fixed;
  right: 0;
  top: 40px;
  display: none;
  background-color: rgba(240, 240, 240, 0.8);
}

/* 由于 top-banner 的 position:fixed，点击标题使页面滑动后，标题会被覆盖，调整一下 */
h1, h2, h3, h4, h5, h6 {
  scroll-margin-top: 40px; /* 根据 banner 高度调整 */
}


#content_toc a {
  background: transparent;
  color: #428bca;
  text-decoration: none;
}

#content_toc a:hover{
  color: #2a6496;
  text-decoration: underline;
  outline: 0
}

/* 放置一个占位元素元素，防止别的内容被 banner 挡住 */
.banner-placeholder {
  height: 40px;
  width: 100%;
}

.banner-left:hover,
.logo a:hover,
.banner-right:hover{
  transform: scale(1.05);
  background-color: #bce8f1;
  border-color: #999;
}


.logo a{
  font-size: 24px;
  text-decoration: none;
  color: #333;
  display: inline-block;
  padding: 3px;
  font-weight: bold;
  text-decoration: none;
  background-color: #f8f8f8;
  border-radius: 6px;
  transition: background-color 0.2s ease, transform 0.2s ease;
}



.active-logo  {
  border-bottom: 3px solid #62d7d7;
}
