<header class="top-banner">
    <div class="banner-container">
        <!-- 左侧边栏 -->
        <div class="banner-left">
            <button class="sidebar-toggle hidden" id="nav_btn" aria-label="Toggle Sidebar">☰</button>
        </div>

        <div class="banner-left">
            <button class="show_btn" id="show_btn" aria-label="Show">🌟</button>
        </div>

        <div class="banner-center">
            <a href="/" class="logo" title="返回首页">首页</a>
        </div>

        <div class="banner-center">
            <a href="/reading.html" class="logo" title="返回首页">读书</a>
        </div>

        <!-- TOC按钮 -->
        <div class="banner-right">
            <button id="toc_btn" class="hidden">▼</button>
        </div>

        <!-- TOC 内容 -->
        <div id="content_toc">
            <div class="panel-body" id="nav"></div>
        </div>

        <!-- 橱窗 内容 -->
        <div id="show_content">
            <ul>
                <li class="banner-show"><a href="/me.html">我</a></li>
                <li class="banner-show"><a href="/BookList.html">书单</a></li>
                <li class="banner-show"><a href="/certification.html">证书与著作</a></li>
                <li class="banner-show"><a href="/cook.html">烹饪</a></li>
                <li class="banner-show"><a href="/sports.html">运动</a></li>
                <li class="banner-show"><a href="/good.html">精选技术文章</a></li>
                <li class="banner-show"><a href="/slides.html">slides</a></li>
                <li class="banner-show"><a href="/link.html">友链</a></li>
                <li class="banner-show"><a href="/archive.html">归档</a></li>
                <li class="banner-show"><a href="/open_source.html">开源</a></li>
            </ul>
        </div>
    </div>

</header>