<header class="top-banner">
    <div class="banner-container">
        <!-- 左侧边栏 -->
        <div class="banner-left">
            <button class="sidebar-toggle" id="nav_btn" aria-label="Toggle Sidebar">☰</button>
        </div>

        <!-- 中间Logo：点击返回首页 -->
        <div class="banner-center">
            <a href="/" class="logo" title="返回首页">首页</a>
        </div>

        <!-- 读书 -->
        <div class="banner-center">
            <a href="/reading/#/" class="logo" title="返回首页">读书</a>
        </div>

        <!-- TOC按钮 -->
        <div class="banner-right">
            <button id="toc_btn">▼</button>
        </div>

        <!-- TOC 内容 -->
        <div id="content_toc">
            <div class="panel-body" id="nav"></div>
        </div>

    </div>

</header>