<meta charset="utf-8">
<title>{{ page.title }} | {{ site.title }}</title>
<meta name="shenma-site-verification" content="56a854808768bc06d4544ac292808619_1573202042">
<meta name="author" content="{{ site.author.name }}">
<link rel="shortcut icon" href="{{ site.favicon }}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/c/banner.css">
<link rel="stylesheet" href="/c/sidebar.css">
<link rel="stylesheet" href="/c/content.css">

<!-- 代码高亮 -->
<!-- <link rel="stylesheet" href="/public/css/highlight.css"> -->
<link rel="stylesheet" href="/c/rouge.css">


<script type="text/javascript" src="/public/js/jquery.js"></script>



<!-- LaTeX支持 -->

<link rel="stylesheet" href="/public/katex/katex.min.css">

<!-- The loading of KaTeX is deferred to speed up page rendering -->
<script defer src="/public/katex/katex.min.js"></script>

<!-- To automatically render math in text elements, include the auto-render extension: -->
<script defer src="/public/katex/auto-render.min.js"  crossorigin="anonymous"
    onload="renderMathInElement(document.body);"></script>


<script src="/c/banner.js"></script>
