<meta charset="utf-8">
<title>{{ page.title }} | {{ site.title }}</title>
<meta name="author" content="{{ site.author.name }}">
{% if page.keywords %}
  <meta name="keywords" content="{{ page.keywords }}">
{% endif %}
{% if page.description  %}
  <meta name="description " content="{{ page.description  }}">
{% endif %}
<link rel="shortcut icon" href="{{ site.favicon }}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/public/css/bootstrap.css">
<link rel="stylesheet" href="/public/css/font-awesome.css">
<link rel="stylesheet" href="/public/js/prettify/prettify.css">
<link rel="stylesheet" href="/public/css/base.css">
<link href="/pages/atom.xml" rel="alternate" title="{{site.title}}" type="application/atom+xml">


<script src="http://www.guofei.site/public/jsforecharts/echarts.min.js"></script>
<script src="http://www.guofei.site/public/jsforecharts/jquery-3.2.1.min.js"></script>
<script src="http://www.guofei.site/public/jsforecharts/china.js"></script>






<!-- LaTeX支持 -->
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
  tex2jax: {
    inlineMath: [['$','$'], ['\\(','\\)']],
    processEscapes: true
    },
  TeX: {
              equationNumbers: {
                  autoNumber: ["AMS"],
                  useLabelIds: true
              }
          },
          "HTML-CSS": {
              linebreaks: {
                  automatic: true
              },
              scale: 85
          },
          SVG: {
              linebreaks: {
                  automatic: true
              }
          }
  });
  </script>



<!--
  <script src="mermaid.min.js"></script>
  <script>mermaid.initialize({startOnLoad:true});</script>
-->

<!--自动推送到百度-->

<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https'){
   bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
  }
  else{
  bp.src = 'http://push.zhanzhang.baidu.com/push.js';
  }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
