  <div class="sidebar">

    <div class="banner-placeholder"></div>



<!-- 顶部信息区域 -->
<div class="sidebar-header">
  <!-- 上方一行：关注人数和个人介绍 -->
  <div class="header-top">
    <a href="https://github.com/guofei9987" target="_blank">
      <span class="line1">
        <img src="/p/logo/github.svg" width="16" height="16" style="vertical-align: middle;margin-right: 4px;">关注</span>
      <span class="line2">{{ site.data.data_github.followers }} ↗</span>
    </a>
    <a href="/me.html">
      <span class="line1">👤 我</span>
      <span class="line2">About Me</span>
    </a>
  </div>
  <!-- 下方下拉菜单 -->
  <div class="dropdown">
    <button class="dropdown-button" type="button" aria-haspopup="true" aria-expanded="false" aria-controls="sidebar-dropdown-list">探索...</button>
    <ul class="dropdown-list" id="sidebar-dropdown-list">
      <li><a href="/certification.html">📜 证书与著作</a></li>
      <li><a href="/books.html">📖 书单</a></li>
      <li><a href="/reading/烹饪.html">🍳 烹饪</a></li>
      <li><a href="/reading/运动记录.html">🏃运动</a></li>
      <li><a href="/search.html">🔍 站内搜索</a></li>
      <li><a href="/slides.html">📽️ slides</a></li>
      <li><a href="/links.html">🔗 友链</a></li>
      <li><a href="/archive.html">📁 归档</a></li>
      <li><a href="/microblog.html">📢 小郭微博</a></li>
      <li><a href="/good.html">精选技术文章</a></li>
    </ul>
  </div>
</div>


    <ul id="sidebar-list">
      <!-- 动态生成侧边栏内容 -->
    </ul>
  </div>
