<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="author" content="{{ site.author.name }}">
    <link rel="stylesheet" href="/public/mindmap/mindmap.css">


    <!-- LaTeX支持 -->
    <link rel="stylesheet" href="/public/katex/katex.min.css">
    <script defer src="/public/katex/katex.min.js"></script>
    <script defer src="/public/katex/auto-render.min.js" crossorigin="anonymous"
        onload="renderMathInElement(document.body);"></script>


</head>

<body>
    <button id="mindmap-button" onclick="buttonMindmap()">↻</button>

    {{ content }}


    <script src="/public/mindmap/mindmap.js"></script>

    <script>
        window.onload = function () {
            addMindmap();
            addStickyDiv();
        }
    </script>


</body>

</html>