---
layout: base
---

<div class="main-title">
  <h2>{{ page.title }}</h2>
</div>

<div class="main-content-content">
  <div>
    <div class="post-info">
      <br><br>
      🗓 {{ page.date | date:"%Y年%m月%d日" }}
      &nbsp;&nbsp;&nbsp;
      📁 文章归类: {{ page.tags }} {{ page.categories }}
      &nbsp;&nbsp;&nbsp;
      <a href="{{ site.repurl }}{{ page.path }}">📝 Edit</a>
      <p>版权声明：本文作者是<a href="https://github.com/guofei9987">郭飞</a>。转载随意，标明原文链接即可。
        <br>
        原文链接：<a href="{{ page.url }}">{{ site.url }}{{ page.url }}</a>
      </p>
      <br>
    </div>

    <div id="content">
      {{ content }}
    </div>

    <hr>
    {% include comment.html %}
    {% include donate.html %}

  </div>

</div>
  