---
layout: base
---

<div class="row">
  <div class="col-md-13 aside3-title">
    <h2 id="#identifier">{{ page.title }}</h2>
  </div>

  <div class="col-md-13 aside3-content">
    <br><br>
    🗓 {{ page.date | date:"%Y年%m月%d日" }}
    &nbsp;&nbsp;&nbsp;
    <a href="{{ site.repurl }}{{ page.path }}">📝 Edit</a>
    &nbsp;&nbsp;&nbsp;
    📁 文章归类: {{ page.tags }} {{ page.categories }}
    <p>版权声明：本文作者是<a href="https://github.com/guofei9987">郭飞</a>。转载随意，标明原文链接即可。
      <br>
      原文链接：<a href="{{ page.url }}">{{ site.url }}{{ page.url }}</a>
    </p>

    <br>

    <div id="content">
      {{ content }}
    </div>
    
    <hr>
    {% include disqus.html %}
  </div>
  <!-- 目录：右上角的加号，点击可以展示或隐藏 -->
  <div id="content_toc" style="position:fixed;right:20px;top:120px;display:none;">
    <div class="panel panel-success">
      <div class="panel-body" id="nav"></div>
    </div>
  </div>
</div>
