---
---
<!-- 不含版权声明，不含评论 -->
<!-- 用于：证书、精选页用 -->

<!doctype html>
<html>

<head>
  {% include header.html %}
</head>

<body>
  {% include banner.html %}


  <!-- <div class="container"> -->

  <!-- 左侧侧边栏 -->
  <div class="sidebar">
    <ul id="sidebar-list">
      <!-- 动态生成侧边栏内容 -->
    </ul>
  </div>



  <!-- <div class="aside3"> -->
  <!-- <div id="container"> -->



  <!-- <div class="aside3-title main-content"> -->
  <div class="main-content">
    <div class="aside3-title">
      <h2>{{ page.title }}</h2>
    </div>

    <div class="aside3-content">
      <div>

        <div id="content">
          {{ content }}
        </div>
      </div>

    </div>
  </div>
  <!-- </div> -->
  {% include footer.html %}
  {% include googleanalytics.html %}
</body>

</html>