---
layout: base
---
<!-- 不含版权声明，不含评论 -->
<!-- 用于：证书、精选页用 -->

<div class="row">
  <div class="col-md-13 aside3-title">
    <br>
    <h2 id="#identifier">{{ page.title }}</h2>

  </div>
  <div class="col-md-13 aside3-content">
    <hr>

  <br>
    <div id="content">
      {{ content }}
    </div>

    <hr>
  </div>
  <!-- 目录：右上角的加号，点击可以展示或隐藏 -->
  <div id="content_toc" style="position:fixed;right:20px;top:120px;display:none;">
    <div class="panel panel-success">
      <div class="panel-body" id="nav"></div>
    </div>
  </div>


</div>
