<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>reveal.js学习笔记</title>

		<meta name="description" content="详细信息：学习笔记，等待">
		<meta name="author" content="guofei">

		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="https://www.guofei.site/slides/dist/reset.css">
		<link rel="stylesheet" href="https://www.guofei.site/slides/dist/reveal.css">
		<link rel="stylesheet" href="https://www.guofei.site/slides/dist/theme/black.css" id="theme">
		<link rel="stylesheet" href="https://www.guofei.site/slides/plugin/highlight/monokai.css">

		<style>
			/* 分栏，比 r-hstack 好看，因为是固定宽度的 */
			.column2 {
				width: 50%;
				float: left;
			  }

			  .column3 {
				width: 33%;
				float: left;
			  }

			  .column4 {
				width: 25%;
				float: left;
			  }

			  .column5 {
				width: 20%;
				float: left;
			  }
		</style>
	</head>

	<body>

		<div class="reveal">
			<div class="slides">
 		       {{ content }}
			</div>
		</div>

		<script src="https://www.guofei.site/slides/dist/reveal.js"></script>
		<script src="https://www.guofei.site/slides/plugin/zoom/zoom.js"></script>
		<script src="https://www.guofei.site/slides/plugin/notes/notes.js"></script>
		<script src="https://www.guofei.site/slides/plugin/search/search.js"></script>
		<script src="https://www.guofei.site/slides/plugin/markdown/markdown.js"></script>
		<script src="https://www.guofei.site/slides/plugin/math/math.js"></script>


		<!-- 代码高亮 -->
		<script src="https://www.guofei.site/slides/plugin/highlight/highlight.js"></script>
		<script>

			Reveal.initialize({
				controls: true,
				progress: true,
				center: true,
				hash: true,
				fragments: true, // 启用片段功能

				mathjax2: {
					config: 'TeX-AMS_HTML-full',
					TeX: {
						Macros: {
							R: '\\mathbb{R}',
							set: [ '\\left\\{#1 \\; ; \\; #2\\right\\}', 2 ]
						}
					}
				},

				plugins: [ RevealZoom, RevealNotes, RevealSearch, RevealMarkdown, RevealHighlight,RevealMath.MathJax2]
			});
		</script>

	</body>
</html>




