<!doctype html>
<html>
<head>
  {% include header.html %}


<style>
/* 使页面宽度足够大，并且允许横向滑动 */
.wide {
display: block;
min-width: max-content; /* 让 div 至少和表格内容一样宽 */
width: auto;  /* 让表格宽度自适应内容 */
white-space: nowrap; /* 禁止单元格换行 */
overflow-x: auto; /* 允许滚动 */
}

table {
width: auto;
min-width: max-content; /* 让表格至少和内容一样宽 */
border-collapse: collapse;
}

td, th {
white-space: nowrap; /* 确保单元格内容不会换行 */
padding: 10px; /* 让内容不会紧贴 */
}


body {
overflow-x: auto;  /* 允许页面横向滚动 */
min-width: max-content; /* 确保 body 至少和内容一样宽 */
}

</style>
</head>

<body>

  <div class="wide">
    {{ content }}
  </div>
</body>

</html>